<% include partials/header %>

<!-- HERO -->
<section id="hero">
	<div class="container h-100">
		<div id="heroHeader" class="d-flex flex-column justify-content-center align-items-center">
				<h1>Hey, I'm <span>Dan</span></h1>
				<p>A Full Stack Web Developer</p>
				<a class="btn btn-outline-light scroller" href="#aboutMe">About Me <i class="fas fa-angle-down"></i></a>
		</div>
	</div>
</section>
<!-- /HERO -->

<!-- ABOUT -->
<section id="aboutMe" class="contentBox">
	<h2>About Me</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-6 headshot">
				<img src="/images/headshot.png" alt="headshot of dan" width="300" height="300">
			</div>
			<div class="col-md-6 pt-4">
				<p>I'm a full stack web developer with a passion for minimal yet effective design. I enjoy creating and branding modern websites that are easy to navigate and catch the eyes of a potential client.</p>
				<p>I am self taught and continue to learn about the latest trends every day, I am currently looking for freelance work.</p>
			</div>
		</div>
		<div class="row">
			<div class="container innerBox">
				<div class="skillbar clearfix" data-percent="95%">
					<div class="skillbar-title" style="background-color:#CB4335;">
						<span>HTML5</span>
					</div>
					<div class="skillbar-bar" style="background-color: #CB4335;"></div>
					<div class="skill-bar-percent">95%</div>
				</div>
				<div class="skillbar clearfix" data-percent="80%">
					<div class="skillbar-title" style="background-color:#2874A6;">
						<span>CSS3</span>
					</div>
					<div class="skillbar-bar" style="background-color: #2874A6;"></div>
					<div class="skill-bar-percent">80%</div>
				</div>
				<div class="skillbar clearfix" data-percent="60%">
					<div class="skillbar-title" style="background-color:#CA6F1E;">
						<span>JavaScript</span>
					</div>
					<div class="skillbar-bar" style="background-color: #CA6F1E;"></div>
					<div class="skill-bar-percent">60%</div>
				</div>
				<div class="skillbar clearfix" data-percent="75%">
					<div class="skillbar-title" style="background-color:#76448A;">
						<span>Bootstrap 4</span>
					</div>
					<div class="skillbar-bar" style="background-color: #76448A;"></div>
					<div class="skill-bar-percent">75%</div>
				</div>
				<div class="skillbar clearfix" data-percent="60%">
					<div class="skillbar-title" style="background-color:#34495E;">
						<span>jQuery</span>
					</div>
					<div class="skillbar-bar" style="background-color: #34495E;"></div>
					<div class="skill-bar-percent">60%</div>
				</div>
				<div class="skillbar clearfix" data-percent="55%">
					<div class="skillbar-title" style="background-color:#196F3D;">
						<span>NodeJS</span>
					</div>
					<div class="skillbar-bar" style="background-color: #196F3D;"></div>
					<div class="skill-bar-percent">55%</div>
				</div>
				<div class="skillbar clearfix" data-percent="50%">
					<div class="skillbar-title" style="background-color:#5DADE2;">
						<span>ReactJS</span>
					</div>
					<div class="skillbar-bar" style="background-color: #5DADE2;"></div>
					<div class="skill-bar-percent">50%</div>
				</div>
				<div class="skillbar clearfix" data-percent="65%">
					<div class="skillbar-title" style="background-color:#99A3A4;">
						<span>Express</span>
					</div>
					<div class="skillbar-bar" style="background-color: #99A3A4;"></div>
					<div class="skill-bar-percent">65%</div>
				</div>
				<div class="skillbar clearfix" data-percent="65%">
					<div class="skillbar-title" style="background-color:#52BE80;">
						<span>MongoDB</span>
					</div>
					<div class="skillbar-bar" style="background-color: #52BE80;"></div>
					<div class="skill-bar-percent">65%</div>
				</div>
				<div class="skillbar clearfix" data-percent="90%">
					<div class="skillbar-title" style="background-color:#21618C;">
						<span>Photoshop</span>
					</div>
					<div class="skillbar-bar" style="background-color: #21618C;"></div>
					<div class="skill-bar-percent">90%</div>
				</div>
				<div class="skillbar clearfix" data-percent="50%">
					<div class="skillbar-title" style="background-color:#E67E22;">
						<span>Illustrator</span>
					</div>
					<div class="skillbar-bar" style="background-color: #E67E22;"></div>
					<div class="skill-bar-percent">50%</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /ABOUT -->

<!-- EXPERTISE -->
<section id="expertise">
	<div class="container">
		<div class="row mx-auto">
			<h3 class="mx-auto">My Expertise</h3>
		</div>
		<div class="row mx-auto mt-4">
			<div class="col-md-4">
				<img src="/images/intuitive.png" alt="intuitive logo" width="100" height="100">
				<h4 class="logoName">Intuitive</h4>
				<p class="logoCaption">Minimal and easy-to-navigate websites.</p>
			</div>
			<div class="col-md-4">
				<img src="/images/responsive.png" alt="responsive logo" width="100" height="100">
				<h4 class="logoName">Responsive</h4>
				<p class="logoCaption">Flexible layouts that look good no matter the size of the device.</p>
			</div>
			<div class="col-md-4">
				<img src="/images/speed.png" alt="speedometer logo" width="100" height="100">
				<h4 class="logoName">Fast</h4>
				<p class="logoCaption">Quick load times and SEO optimization.</p>
			</div>
		</div>
		<div class="row mx-auto">
			<div class="col">
				<h4 class="pt-3">I create websites for:</h4>
				<ul>
					<li>Small Businesses</li>
					<li>Entrepreneurs</li>
					<li>Product Sales</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- /EXPERTISE -->



<!-- CONTACT -->

<section id="contact">
	<div class="td-form">
		<div class="row td-form-wrapper mx-auto">
			<div class="col">
				<form method="POST" action="/" id="contact-form" class="td-form-wrapper mx-auto">
					<h1 class="text-center">Contact Me</h1>
					
					<div class="alert">Your message has been sent!</div>
					<div class="form-group">
						<div class="col-md-12"><label for="name">Your Name *</label>
							<div class="d-flex"><i class="icon ion-person align-self-center"></i>
							<input class="form-control d-flex" type="text" name="name" id="name" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12"><label for="email">Email Address *</label>
							<div class="d-flex"><i class="icon ion-ios-email align-self-center"></i>
							<input class="form-control" type="email" name="email" id="email" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12"><label for="message">Message Details *</label>
							<div class="d-flex td-input-container"><i class="icon ion-android-create align-self-center"></i>
							<textarea class="form-control" rows="6" cols="50" name="message" id="message" required></textarea>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
						<button class="btn btn-dark float-right" type="submit">Send message!</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- /CONTACT -->

<% include partials/footer %>
