html, body {
	height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
}

/*HERO*/

#hero {
	width: 100%;
	height: 600px;
	background-image: url(/images/heroimage.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
}

#heroHeader {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	text-shadow: 0px 4px 10px rgba(0,0,0,0.5),
				 0px 8px 13px rgba(0,0,0,0.3),
				 0px 18px 23px rgba(0,0,0,0.3);
}

#heroHeader h1 {
	font-size: 4rem;
}

#heroHeader p {
	font-size: 1.5rem;
}

.btn {
	border-radius: 0px;
}

.btn:hover {
	color: #000;
	background-color: #fff;
}

/*NAV*/

.navbar .nav-item .nav-link {
	color: white;
	text-transform: uppercase;
}

.navTrans {
	background-color: transparent !important;
	transition: 0.4s;
}

.navBlack {
	background-color: rgba(0, 0, 0, 0.7) !important;
	transition: 0.4s;
}

/*ABOUT ME*/

.contentBox {
	padding-top: 40px;
	padding-bottom: 40px;
	background: #02111D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #fff, #037BB5, #fff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #fff, rgba(54, 209, 220, 0.5), #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.headshot {
	text-align: center;
}

#aboutMe .btn {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
}



.innerBox {
	width: 90%;
	background-color: #fff;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

.contentBox h2 {
	text-align: center;
	font-weight: 400;
	font-size: 3.5rem;
	padding-bottom: 1.7rem;
}

#aboutMe p {
	font-size: 1.2rem;
}



/*EXPERTISE*/

#expertise {
	text-align: center;
 	color: #fff;
 	padding-top: 5rem;
 	padding-bottom: 5rem;
	background: #36D1DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #36D1DC, #5B86E5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #36D1DC, #5B86E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-clip-path: polygon(100% 90%, 50% 100%, 0 90%, 0 0, 50% 10%, 100% 0);
	clip-path: polygon(100% 90%, 50% 100%, 0 90%, 0 0, 50% 10%, 100% 0);
}

#expertise h3 {
	font-weight: 400;
	font-size: 2.7rem;
	padding-top: 2rem;
}

#expertise h4 {
	font-weight: 400;
	font-size: 2rem;
}

#expertise ul {
	list-style-type: none;
	padding: 0;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	transition:0.4s linear;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	background:#6adcfa;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#444;
	color:rgba(0, 0, 0, 0.4);
}

/*CONTACT*/

#contact {
	margin-top: 4rem;
	padding-top: 8rem;
	padding-bottom: 40px;
	background-color: #5B86E5;
	color: white;
	-webkit-clip-path: polygon(100% 100%, 50% 100%, 0 100%, 0 0, 50% 10%, 100% 0);
	clip-path: polygon(100% 100%, 50% 100%, 0 100%, 0 0, 50% 10%, 100% 0);
}

.td-form-wrapper {
	width: 80%;
}

#contact i {
	padding-right: 5px;
}

.alert {
	text-align: center;
	padding: 10px;
	background-color: #79c879;
	margin-bottom: 10px;
	display: none;
	transition: 0.3s;
}

/*FOOTER*/

footer {
	background-color: #111;
	color: #fff;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

footer h4 {
	margin-bottom: 1rem;
}

footer img {
	margin: 0 7px;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 768px) {
	#heroHeader p {
		font-size: 1.2rem;
	}

	#expertise h3 {
		padding-top: 4rem;
	}
}

@media only screen and (max-width: 500px) {
	#heroHeader h1 {
		font-size: 3rem;
	}

	#heroHeader p {
		font-size: 1rem;
	}

	#skills p {
		font-size: 1.5rem;
	}
}
